@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&display=swap');
body{
    background-color: aquamarine;
    font-size: larger;
}

/* editing for the heading */
h1{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Edu SA Beginner', cursive;
    color: #bb2020
    
}

